@page "/"
@using Microsoft.Extensions.Localization
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<h1>@(app["k_salut"]), world!</h1>

Welcome to your new app.

@code {
    [Inject]
    IStringLocalizer<App> app { get; set; }
}